.App {
  justify-content: center;
  display: flex;
  background-color: teal;
  width: 100%;
  height: 100%;
  position: fixed;
}

.Main-container {
  display: flex;
  align-self: center;
  color: white;
  flex-direction: column;
}

.Social-Row {
  display: flex;
  flex-direction: row;
  align-self: center;
  
}

.Social-Button {
  font-family: Courier New, Courier, monospace;
  font-size: small;
  background-color: transparent;
  border-width: 1em;
  border-style: solid;
  border-width: 1px;
  margin: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: cornflowerblue;
  box-shadow: 2px 2px 2px darkslategray;
  color: white;
  transition: transform 0.2s;
  outline: none;
}

.Social-Button:hover {
  transform: scale(1.25);
  transition: transform 0.15s ease-out;
}

.Social-Button:active {
  transform: scale(1);
  transition: transform 0.01s;
}

.Social-Button:visited {
  transform: scale(1);
}
.Starfield { height:100%; left:0; position:absolute; top:0; width:100%; z-index:0;}

h1 {
  font-size: 2.5em;
  padding-bottom: 20px;
  margin: 0px;
  font-family: Courier New, Courier, monospace;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  color: #E6AF2E;
}

h2 {
  font-family: Courier New, Courier, monospace;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 0.8em;
  color: #E6AF2E;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: 'PalanquinLight';
  src: url(./palanquin/palanquin-light.ttf) format('truetype');
}

@font-face {
  font-family: 'Palanquin';
  src: url(./palanquin/palanquin-regular.ttf) format('truetype');
}